{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_produit</th>
                <th>Description_produit</th>
                <th>Prix_unite</th>
                <th>Composants</th>
                <th>Image_1</th>
                <th>Image_2</th>
                <th>Delai</th>
                <th>Qte_minimum</th>
                <th>Qte_maximum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nomProduit }}</td>
                <td>{{ produit.descriptionProduit }}</td>
                <td>{{ produit.prixUnite }}</td>
                <td>{{ produit.composants }}</td>
                <td>{{ produit.image1 }}</td>
                <td>{{ produit.image2 }}</td>
                <td>{{ produit.delai ? produit.delai|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ produit.qteMinimum }}</td>
                <td>{{ produit.qteMaximum }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produit_new') }}">Create new</a>
{% endblock %}
