{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom_produit</th>
                <td>{{ produit.nomProduit }}</td>
            </tr>
            <tr>
                <th>Description_produit</th>
                <td>{{ produit.descriptionProduit }}</td>
            </tr>
            <tr>
                <th>Prix_unite</th>
                <td>{{ produit.prixUnite }}</td>
            </tr>
            <tr>
                <th>Composants</th>
                <td>{{ produit.composants }}</td>
            </tr>
            <tr>
                <th>Image_1</th>
                <td>{{ produit.image1 }}</td>
            </tr>
            <tr>
                <th>Image_2</th>
                <td>{{ produit.image2 }}</td>
            </tr>
            <tr>
                <th>Delai</th>
                <td>{{ produit.delai ? produit.delai|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Qte_minimum</th>
                <td>{{ produit.qteMinimum }}</td>
            </tr>
            <tr>
                <th>Qte_maximum</th>
                <td>{{ produit.qteMaximum }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('produit_index') }}">back to list</a>

    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
